######	NAMING SCHEMES	#########################
##						#
###	INTERNAL NAMING SCHEME	#########	#
#					#	#
#[(CODE)NAME].[PROJECT_NAME]-[NAMESPACE]#	#
#					#	#
PROJECT_NAME=transcendence
#					#	#
SERVICE_NAMESPACE=backend
DATABASE_NAMESPACE=db
REV_PROXY_NAMESPACE=proxy
VAULT_NAMESPACE=secret
AI_NAMESPACE=bot
#					#	#
VAULT_CODENAME=heute-nicht
NGINX_CODENAME=clear
TOR_CODENAME=dark
#					#	#
#########################################	#
##						#
##						#
###	URL NAMING SCHEME	#########	#
#					#	#
HTTP=https://
DOMAIN=localhost
#					#	#
CHAT_PATH=/chat
CHAT_WS_PATH=/socket.io
GAME_PATH=/game
GAME_WS_PATH=/socket.io
AUTH_PATH=/auth
#					#	#
#########################################	#
##						#
##						#
###	DATABASE NAMES	#################	#
#					#	#
CHAT_DB=chat-service
#					#	#
GAME_DB=game_db
AUTH_DB=auth_db
#					#	#
#########################################	#
###	END NAMING SCHEMES	#################




#########	NETWORKING		#################################
#									#
######	INTERNAL NETWORKING	#########				#
##					#				#
###	PORTS	#################	#				#
#				#	#				#
VAULT_PORT=443
#				#	#				#
POSTGRES_PORT=443
MONGO_PORT=27017
#				#	#				#
AUTH_PORT=4430
#				#	#				#
CHAT_PORT=4431
#				#	#				#
GAME_PORT=4432
SOCKET_PORT=4000
#				#	#				#
FRONTEND_PORT=4434
#				#	#				#
#################################	#				#
##					#				#
##					#				#
###	SUBNETS		#########	#				#
#				#	#				#
SERVICE_SUBNET=10.133.7.16/28
#				#	#				#
PROXY_SUBNET=10.133.7.8/29
#				#
VAULT_PROXY_IP=10.133.7.12
NGINX_PROXY_IP=10.133.7.11
TOR_PROXY_IP=10.133.7.10
#				#	#				#
#				#	#				#
AI_SUBNET=10.133.7.0/29
#				#	#				#
# ^^^^^	IF YOU CHANGE SUBNETS	#	#				#
#	  YOU WILL HAVE TO	#	#				#
#	CHANGE IPS ACCORDINGLY	#	#				#
##				#	#				#
#################################	#				#
######	END INTERNAL NETWORKING	#########				#
###									#
###									#
#################################################			#
######		EXTERNAL NETWORKING		#########################
##									#
###	TOR CONFIG	#########################################	#
#								#	#
COMPOSE_PROFILES=hidden_service
# 		^^^^^^^^					#	#
#	>>> UNCOMMENT FOR ACCESS OVER ONION ROUTER <<< 		#	#
#	TELL YOUR SERVER THAT YOU ARE NOT ON LOCALHOST		#	#
#	 LINES BELOW GENERATE HIDDENSERVICE V3 VANITY		#	#
#	 ADDRESSES ---  KEEP IT ONE CHARACTER FOR DEV		#	#
#       >>>   ADDRESSES ARE ADVERTISED OVER ONION-   <<<	#	#
#	 LOCATION HEADER WHEN ACCESSED OVER NGINX PROXY
#								#	#
VANITY_ADDRESS_VAULT=vault
VANITY_ADDRESS_MAIN=space
#								#	#
HIDDEN_SERVICE_PORT=9050:9050
# ^^^^^	EXTERNAL PORT FOR ONION	ROUTER				#	#
#								#	#
###	END TOR CONFIG	#########################################	#
##									#
##									#
###	NGINX CONFIG	#########################################	#
#								#	#
NGINX_TCP=80:80
# ^^^^^	TCP >>>	USED TO REDIRECT TO 443	<<<			#	#
#								#	#
NGINX_TLS=443:443/tcp
# ^^^^^	TLS >>>	RUNNING HTTP2 + TLSv1.3	<<<			#	#
#								#	#
NGINX_UDP=443:443/udp
# ^^^^^	UDP >>>	RUNNING HTTP3 + TLSv1.3	<<<			#	#
#								#	#
LOCAL=1
# ^^^^^	>>>	EXTERNAL PORT	<<<				#	#
#	REMOVE FOR LISTENING ON ALL				#	#
#	>>>	INTERFACES	<<<				#	#
#								#	#
###	END NGINX	#########################################	#
##									#
##									#
###	WAF CONFIG	#########################################	#
#								#	#
PARANIOA=2
ANOMALY_INBOUND=5
ANOMALY_OUTBOUND=4
BLOCKING_PARANOIA=1
#								#	#
#######		END EXTERNAL NETWORKING		#########################
############		END NETWORKING			#################




######		SERVICE CONFIGS		#################
#							#
###	GAME CONFIG	#########################	#
#						#	#
REMOTE_MULTIPLAYER_ENABLED=true
##						#	#
##						#	#
###	AI CONFIG	#########################	#
#						#	#
ROOM_ID=gameplay-room
MODEL_PATH=/app/models/live/dqn_latest.pt
MODEL_AUTO_RELOAD=true
MODEL_RELOAD_INTERVAL_S=5
TRAINING_MODE=false
ENABLE_TRAINING_ROOM=false
AI_AMOUNT=3
#						#	#
##						#	#
##						#	#
###	POSTGRES CONFIG		#################	#
#						#	#
POSTGRES_DATA_DIR=/var/lib/postgresql/data
POSTGRES_HOST_AUTH_METHOD=cert	
PGSSLMODE=verify-full
##						#	#
##						#	#
###	VAULT CONFIG	#########################	#
#						#	#
MLOCK_ENABLED=1
CACHE_ENABLED=1
SAVE_KEY=1
EXPORT_KEY=
##						#	#
##						#
###	TOR CONFIG	#########################	#
#						#	#
TOR_DATA_DIR=/var/lib/tor
#################################################	#
######	END SERVICE CONFIGS	#########################


######	MISCELLANEOUS	#########################
#					#	#
####	LOG CONFIGS	#########	#	#
#				#	#	#
AI_LOG_LEVEL=INFO
NGINX_LOG_LEVEL=info
NGINX_MODULE=
VAULT_LOG_LEVEL=INFO
WAF_LOG_LEVEL=0
TOR_LOG_LEVEL=notice
#				#	#	#
#################################	#	#
##					#	#
##					#	#
###	TIMEOUT MULTIPLIER	#########	#
#					#	#
GRACE_PERIOD=2
#					#	#
#########################################	#
##					#	#
##					#	#
###	NODE_ENV=DEV 	#################	#
##    FOR SSL WITH NEXT		#########	#
#					#	#
NODE_ENV=development
#					#	#
#########################################	#
##						#
##						#
###	ORGANIZATION	#################	#
#					#	#
ORG=YourOrg
#					#	#
ORG_UNIT=YourOrgUnit
#					#	#
#					#	#
########     ADHOC     ##################	#
###	FOR NEXTAUTH_URL	#########	#
#	FIXME				#	#
ADHOC_HTTP=http://
#					#	#
######	END MISCELLANEOUS	#################
