###	internal docker hostname scheme [(code)name].[projectname]-[namespace]
###	used in common name of ssl certificates
PROJECT_NAME=transcendence

SERVICE_NAMESPACE=backend
DATABASE_NAMESPACE=db
REV_PROXY_NAMESPACE=proxy
VAULT_NAMESPACE=secret
AI_NAMESPACE=bot

NGINX_CODENAME=clear
TOR_CODENAME=dark


###	public url scheme
HTTP=https://
DOMAIN=transcendence.com

CHAT_PATH=/chat
GAME_PATH=/game
AUTH_PATH=/auth
SOCKET_PATH=/socket.io/

###	vanity addresses for vault and spacesupremacy
VANITY_ADDRESS_VAULT=vault
VANITY_ADDRESS_MAIN=space


###	multiplier for healthchecks and waiting periods in scripts
GRACE_PERIOD=2


###	database names
CHAT_DB=chat-service
GAME_DB=game_db
AUTH_DB=auth_db


###	node env dev is necessary for ssl with nextjs
NODE_ENV=development


###	paths to certificates, will probably break stuff if changed
CA_ROOT_DIR=/usr/local/share/ca-certificates
CERT_PATH=/certs/cert.pem
KEY_PATH=/certs/key.pem


###	ports, can be changed if using internal docker networking
VAULT_PORT=443
POSTGRES_PORT=443
MONGO_PORT=443
AUTH_PORT=3000
CHAT_PORT=3001
GAME_PORT=3002
GAME_WS_PORT=4000
FRONTEND_PORT=3003
HIDDEN_SERVICE_PORT=9050
NGINX_PORT=443
NGINX_PORT_EXTERNAL=443


###	AI config
ROOM_ID=gameplay_room
MODEL_PATH=/app/models/live/dqn_latest.pt
MODEL_AUTO_RELOAD=true
MODEL_RELOAD_INTERVAL_S=5
TRAINING_MODE=false
AI_LOG_LEVEL=INFO
AI_AMOUNT=3


### Postgres config
POSTGRES_DATA_DIR=/var/lib/postgresql/data
POSTGRES_USER=postgres
POSTGRES_HOST_AUTH_METHOD=cert
PG_COLOR=always
PGSSLMODE=verify-full
POSTGRES_USER_VAULT_GAME=vaultpgadmingamedb
POSTGRES_USER_VAULT_AUTH=vaultpgadminauthdb
