###	internal docker hostname scheme [(code)name].[projectname]-[namespace]
###	used in common name of ssl certificates
PROJECT_NAME=transcendence

SERVICE_NAMESPACE=backend
DATABASE_NAMESPACE=db
REV_PROXY_NAMESPACE=proxy
VAULT_NAMESPACE=secret
AI_NAMESPACE=bot

NGINX_CODENAME=clear
TOR_CODENAME=dark


###	public url scheme
HTTP=https://
DOMAIN=transcendence.com

CHAT_PATH=/chat
GAME_PATH=/game
AUTH_PATH=/auth
SOCKET_PATH=/socket.io


###	multiplier for healthchecks and waiting periods in scripts
GRACE_PERIOD=2


###	database names
CHAT_DB=chat-service
GAME_DB=game_db
AUTH_DB=auth_db


###	node env dev is necessary for ssl with nextjs
NODE_ENV=development


#########		NETWORKING

######		INTERNAL NETWORKING

###	ports, can be changed if using internal docker networking
VAULT_PORT=443
POSTGRES_PORT=443
MONGO_PORT=443
AUTH_PORT=3000
CHAT_PORT=3001
GAME_PORT=3002
GAME_WS_PORT=4000
FRONTEND_PORT=3003

SERVICE_SUBNET=10.133.7.16/28
PROXY_SUBNET=10.133.7.8/29
AI_SUBNET=10.133.7.0/29

######		EXTERNAL NETWORKING		#################

###	TOR CONFIG	#########################################
#								#
#	COMPOSE_PROFILES=hidden_service
# 		^^^^^^^^					#
#	>>> UNCOMMENT FOR ACCESS OVER ONION ROUTER <<< 		#
#	TELL YOUR SERVER THAT YOU ARE NOT ON LOCALHOST		#
#	 LINES BELOW GENERATE HIDDENSERVICE V3 VANITY		#
#	 ADDRESSES ---  KEEP IT ONE CHARACTER FOR DEV		#
#       >>>   ADDRESSES ARE ADVERTISED OVER ONION-   <<<	#
#	 LOCATION HEADER WHEN ACCESSED OVER NGINX PROXY
#								#
VANITY_ADDRESS_VAULT=vault
VANITY_ADDRESS_MAIN=space
#								#
HIDDEN_SERVICE_PORT=9050
# ^^^^^	EXTERNAL PORT FOR ONION	ROUTER				#
#								#
#################################################################


###	NGINX CONFIG	#########################################
#								#
NGINX_TCP=80:80
# ^^^^^	TCP >>>	USED TO REDIRECT TO 443	<<<			#
#								#
NGINX_TLS=443:443/tcp
# ^^^^^	TLS >>>	RUNNING HTTP2 + TLSv1.3	<<<			#
#								#
NGINX_UDP=443:443/udp
# ^^^^^	UDP >>>	RUNNING HTTP3 + TLSv1.3	<<<			#
#								#
EXT=127.0.0.1:
# ^^^^^	>>>	EXTERNAL PORT	<<<				#
#	REMOVE FOR LISTENING ON ALL				#
#	>>>	INTERFACES	<<<				#
#								#
#################################################################

###	AI config
ROOM_ID=gameplay_room
MODEL_PATH=/app/models/live/dqn_latest.pt
MODEL_AUTO_RELOAD=true
MODEL_RELOAD_INTERVAL_S=5
TRAINING_MODE=false
AI_LOG_LEVEL=INFO
AI_AMOUNT=3


### Postgres config
POSTGRES_DATA_DIR=/var/lib/postgresql/data
POSTGRES_HOST_AUTH_METHOD=cert
PG_COLOR=always
PGSSLMODE=verify-full
