{
	http_port 80
	https_port 443
	auto_https off

	debug
}

{$PUBLIC_URL} {
	tls {$CERT_PATH} {$KEY_PATH}
	log
	handle {
		reverse_proxy frontend.{$PROJECT_NAME}-{$SERVICE_NAMESPACE}:{$FRONTEND_PORT} {
			header_up Host {host}
			header_up X-Real-IP {remote_host}
		}
	}
	handle_path /auth/* {
		reverse_proxy auth.{$PROJECT_NAME}-{$SERVICE_NAMESPACE}:{$AUTH_PORT} {
			header_up Host {host}
			header_up X-Real-IP {remote_host}
			header_up Cookie {http.request.header.Cookie}
		}
	}
	handle_path /chat/* {
		reverse_proxy {$HTTP}chat.{$PROJECT_NAME}-{$SERVICE_NAMESPACE}:{$CHAT_PORT} {
			header_up Host {host}
			header_up X-Real-IP {remote_host}
			header_up Cookie {http.request.header.Cookie}
		}
	}
	handle_path /chat/{$CHAT_WS_PATH}/* {
		reverse_proxy {$HTTP}chat.{$PROJECT_NAME}-{$SERVICE_NAMESPACE}:{$CHAT_PORT} {
			transport http {
				versions h2c 1.1
			}
			header_up Host {host}
			header_up X-Real-IP {remote_host}
			header_up Cookie {http.request.header.Cookie}
			flush_interval 1s
		}
	}
	handle_path /game* {
		reverse_proxy {$HTTP}game.{$PROJECT_NAME}-{$SERVICE_NAMESPACE}:{$GAME_PORT} {
			header_up Host {host}
			header_up X-Real-IP {remote_host}
			header_up Cookie {http.request.header.Cookie}
		}
	}
	handle_path /game/{$GAME_WS_PATH}/* {
		reverse_proxy {$HTTP}game.{$PROJECT_NAME}-{$SERVICE_NAMESPACE}:{$GAME_WS_PORT} {
			transport http {
				versions h2c 1.1
			}
			header_up Host {host}
			header_up X-Real-IP {remote_host}
			header_up Cookie {http.request.header.Cookie}
			flush_interval 1s
		}
	}
}

{$HTTP}{$HOSTNAME}:1337 {
	tls {$CERT_PATH} {$KEY_PATH}
	handle /healthcheck {
		respond "OK" 200
	}
}
